<div class="parent dashboard-container">
  <div class="div1">
    @if(isLoanStatusLoading) { ...Loading } @else {
    <div class="board">
      <p>
        Loan Application #{{
          currentLoanApplicationStatus.loan_application_number
        }}
        Status: {{ currentLoanApplicationStatus.is_qualified }}
      </p>
      <table class="table-border table-width">
        <tr>
          <th>Department/Action</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>OSDS</td>
          <td>{{ currentLoanApplicationStatus.is_approved_osds }}</td>
        </tr>
        <tr>
          <td>Accounting</td>
          <td>{{ currentLoanApplicationStatus.is_approved_accounting }}</td>
        </tr>
        <tr>
          <td>Hr, Admin</td>
          <td>-</td>
        </tr>
        <tr>
          <td>ASDS & SDS</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Payment</td>
          <td>-</td>
        </tr>
      </table>
    </div>
    }
    <div class="board message-container">
      <p>Messages</p>
      <div class="message-box">
        <svg
          width="65"
          height="49"
          viewBox="0 0 65 49"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 0V34.9999L8.125 27.9999H16.25V6.99997H40.625V0H0ZM24.375 13.9999V41.9998H56.875L65 48.9998V13.9999H24.375Z"
            fill="black"
          />
        </svg>
        <p>No Messages</p>
      </div>
    </div>
  </div>
  <div class="div2">
    <div class="board">
      <p>Loan Application History</p>
      @if(!isLoanHistoryLoading) {
      <table class="table-border table-width">
        <tr>
          <th>Loan #</th>
          <th>Status</th>
          <th>Application Date</th>
          <th>Loan Amount</th>
        </tr>
        @for (history of loanHistory; track $index) {
        <tr>
          <td>{{ history.loan_application_number }}</td>
          <td>{{ history.is_qualified }}</td>
          <td>{{ history.application_date }}</td>
          <td>{{ formatPhp(history.amount) }}</td>
        </tr>
        }
      </table>
      } @else {
      <p>...Loading</p>
      }
    </div>
  </div>
  <!-- <div class="div3 message-container">
        <p>Messages</p>
        <div class="message-box">
            <svg width="65" height="49" viewBox="0 0 65 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0V34.9999L8.125 27.9999H16.25V6.99997H40.625V0H0ZM24.375 13.9999V41.9998H56.875L65 48.9998V13.9999H24.375Z" fill="black"/>
            </svg>
            <p>No Messages</p>
        </div>
    </div> -->
  <div class="div4"></div>
</div>
