$sidenav-blue: #0165B2;

.container {
 height: 100svh;
 overflow-x: hidden;
}

.sidenav {
    background-color: $sidenav-blue;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.hambuger-menu {
    width: 24px;
    height: 24px;
    color: black;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

  // .div1 { grid-area: 1 / 1 / 2 / 2; }
  // .div2 { grid-area: 2 / 1 / 3 / 2; }

// .main-content {
//     display: flex;
//     flex-direction: column;
// }

.top-nav {
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 12px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px -3px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.toggle-button {
  background-color: #F8F8F8;
  border-radius: 100%;
  padding: 1rem 0.5rem;
  border: none;
  cursor: pointer;
}
