<div class="file-upload">
  <p class="title">{{ title }} {{ required && !haveUploaded ? "*" : "" }}</p>
  @if(note) {
  <p>*{{ note }}</p>
  }
  <div class="input__container">
    <input
      type="file"
      class="file-input"
      [id]="idLabel"
      (change)="onFileSelected($event)"
      #fileInput
    />
    <label [for]="idLabel" class="upload-label">
      <span *ngIf="!selectedFile">Click to select a file</span>
      <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
    </label>
    @if(haveUploaded) {
    <button (click)="cancelUploadFile()">Cancel</button>
    }
  </div>
</div>
