
$sidenav-blue: #0165B2;
.container {
//  min-height: 100svh;
 height: 100%;
}

.sidenav {
    background-color: $sidenav-blue;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.hambuger-menu {
    width: 24px;
    height: 24px;
    color: black;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.top-nav {
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 12px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px -3px rgba(0,0,0,0.75);
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 1rem 0.5rem;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    
  }
  
  .toggle-button:hover {
    background-color: rgb(200, 200, 200);
  }
  
