.step_box_end .circle {
  border-radius: 100%;
  width: 26px;
  height: 26px;
  background-color: #0165B2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inner-circle {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: white;
}

.disable_progress {
  opacity: 30%;
}


p {
  text-transform: capitalize;
  margin: 0;
}
