hr {
  width: 100%;
}

.sidenav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #0165B2;
  overflow: hidden;
  justify-content: space-between;
  height: 95%;
  color: white;
  padding: 1em 0.5em;
}

.profile-container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.button-logout {
  background: transparent;
  border: none;
  cursor: pointer;
}


.nav-text {
  color: white;
  text-decoration: none;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
