<div class="sidebar">
  <div class="main-content">
    <div class="top">
      <div class="profile">
        <div class="img-contianer">
          <img src="../../../assets/profile.svg" alt="user pfp" />
        </div>

        <div class="info-container">
          <p class="profile-name">{{ parseFullName }}</p>
          <p class="profile-department">{{ designation }}</p>
        </div>
      </div>

      <div class="routes">
        <button [routerLink]="['/dashboard']">
          <img src="../../../assets/panel.svg" alt="dashboard img" />

          <div class="button-title">
            <span>Applications</span>
          </div>
        </button>

        <button [routerLink]="['/pending']">
          <img src="../../../assets/pending.svg" alt="pending img" />

          <div class="button-title">
            <span>Pending (Co)</span>
          </div>
        </button>

        <button [routerLink]="['/application']">
          <img src="../../../assets/forms.svg" alt="applicant forms img" />

          <div class="button-title">
            <span>Loan Form</span>
          </div>
        </button>
      </div>
    </div>

    <div class="bottom">
      <div class="logout">
        <div class="bottom-buttons">
          <button class="button-action" (click)="changePassword()">
            Change<br />
            Password
          </button>
          <button class="button-action" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
