.form-field-container {
    padding-top: 0.5em;
}

.form-field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.form-split {
    flex: 1;
}

.type-loan {
    padding-left: 1rem;
}
.purpose {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}
.next-button-container {
    display: flex;
    justify-content: end;
}

.application-container {
  overflow-y: auto;
}

#prodvident__title {
  font-size: 1.5rem;
}
