<mat-tab-group>
  <mat-tab label="Pending Application">
    <div *ngIf="getCurrentApplicationPending()">
      <p class="status">No current Applications</p>
    </div>

    <div
      *ngFor="let loanStatus of currentLoanStatusList"
      class="loan_details_container"
    >
      <div *ngIf="loanStatus.currentLoan as currentLoan">
        <div *ngIf="currentLoan.status === 'Pending'">
          <div class="title">
            <p>LOAN # {{ loanStatus.currentLoan.application_id }}</p>
          </div>
          <hr />

          <div class="progress_container">
            <p id="latest_msg">
              {{ getCurrentPhaseRemark(loanStatus.currentLoan.application_id) }}
            </p>

            <div class="stepper_container">
              <app-stepper
                [progressName]="'Loan Submitted'"
                [disable]="false"
                [date]="formatDate(loanStatus.currentLoan.application_date)"
              ></app-stepper>

              <app-stepper
                [progressName]="'Signature'"
                [disable]="
                  !isOfficeDone(
                    ['hr', 'admin', 'legal'],
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['hr', 'admin', 'legal'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'Accounting'"
                [disable]="
                  !isOfficeDone(
                    'accounting',
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['accounting'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'Endorsement'"
                [disable]="
                  !isOfficeDone(
                    ['sds', 'asds'],
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['sds', 'asds'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'OSDS'"
                [disable]="
                  !isOfficeDone('osds', loanStatus.currentLoan.application_id)
                "
                [date]="
                  fetchUpdateDate(
                    ['osds'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>
              <app-stepper-end
                [progressName]="'Finished'"
                [disable]="
                  !isOfficeDone('osds', loanStatus.currentLoan.application_id)
                "
              ></app-stepper-end>
            </div>
          </div>
          <div class="remarks_container">
            <h2>Remarks</h2>
            <p>
              {{
                loanStatus.currentLoan.remarks_message
                  ? loanStatus.currentLoan.remarks_message
                  : "No Remarks Yet"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Finished Application">
    <div *ngIf="getCurrentApplicationApproved()">
      <p class="status">No current Applications</p>
    </div>

    <div
      *ngFor="let loanStatus of currentLoanStatusList"
      class="loan_details_container"
    >
      <div *ngIf="loanStatus.currentLoan as currentLoan">
        <div *ngIf="currentLoan.status === 'Approved'">
          <div class="title">
            <p>LOAN # {{ loanStatus.currentLoan.application_id }}</p>
          </div>
          <hr />

          <div class="progress_container">
            <p id="latest_msg">
              {{ getCurrentPhaseRemark(loanStatus.currentLoan.application_id) }}
            </p>

            <div class="stepper_container">
              <app-stepper
                [progressName]="'Loan Submitted'"
                [disable]="false"
                [date]="formatDate(loanStatus.currentLoan.application_date)"
              ></app-stepper>
              <app-stepper
                [progressName]="'Signature'"
                [disable]="
                  !isOfficeDone(
                    ['hr', 'admin', 'legal'],
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['hr', 'admin', 'legal'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'Accounting'"
                [disable]="
                  !isOfficeDone(
                    'accounting',
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['accounting'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'Endorsement'"
                [disable]="
                  !isOfficeDone(
                    ['sds', 'asds'],
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['sds', 'asds'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'OSDS'"
                [disable]="
                  !isOfficeDone('osds', loanStatus.currentLoan.application_id)
                "
                [date]="
                  fetchUpdateDate(
                    ['osds'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>
              <app-stepper-end
                [progressName]="'Finished'"
                [disable]="
                  !isOfficeDone('osds', loanStatus.currentLoan.application_id)
                "
              ></app-stepper-end>
            </div>
          </div>
          <div class="remarks_container">
            <h2>Remarks</h2>
            <p>
              {{
                loanStatus.currentLoan.remarks_message
                  ? loanStatus.currentLoan.remarks_message
                  : "No Remarks Yet"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Rejected Application">
    <div *ngIf="getCurrentApplicationRejected()">
      <p class="status">No current Applications</p>
    </div>

    <div
      *ngFor="let loanStatus of currentLoanStatusList"
      class="loan_details_container"
    >
      <div *ngIf="loanStatus.currentLoan as currentLoan">
        <div *ngIf="currentLoan.status === 'Rejected'">
          <div class="title">
            <p>LOAN # {{ loanStatus.currentLoan.application_id }}</p>
          </div>
          <hr />

          <div class="progress_container">
            <p id="latest_msg">
              {{ getCurrentPhaseRemark(loanStatus.currentLoan.application_id) }}
            </p>

            <div class="stepper_container">
              <app-stepper
                [progressName]="'Loan Submitted'"
                [disable]="false"
                [date]="formatDate(loanStatus.currentLoan.application_date)"
              ></app-stepper>

              <app-stepper
                [progressName]="'Signature'"
                [disable]="
                  !isOfficeDone(
                    ['hr', 'admin', 'legal'],
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['hr', 'admin', 'legal'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'Accounting'"
                [disable]="
                  !isOfficeDone(
                    'accounting',
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['accounting'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'Endorsement'"
                [disable]="
                  !isOfficeDone(
                    ['sds', 'asds'],
                    loanStatus.currentLoan.application_id
                  )
                "
                [date]="
                  fetchUpdateDate(
                    ['sds', 'asds'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>

              <app-stepper
                [progressName]="'OSDS'"
                [disable]="
                  !isOfficeDone('osds', loanStatus.currentLoan.application_id)
                "
                [date]="
                  fetchUpdateDate(
                    ['osds'],
                    loanStatus.currentLoan.application_id
                  )
                "
              ></app-stepper>
              <app-stepper-end
                [progressName]="'Finished'"
                [disable]="
                  !isOfficeDone('osds', loanStatus.currentLoan.application_id)
                "
              ></app-stepper-end>
            </div>
          </div>
          <div class="remarks_container">
            <h2>Remarks</h2>
            <p>
              {{
                loanStatus.currentLoan.remarks_message
                  ? loanStatus.currentLoan.remarks_message
                  : "No Remarks Yet"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
